# Keil / 构建产物
**/MDK-ARM/**/build.log
**/MDK-ARM/**/*.lnp
**/MDK-ARM/**/*.iex
**/MDK-ARM/**/*.htm
**/MDK-ARM/**/*.map
**/MDK-ARM/**/*.uvguix.*
**/*.uvguix.*
**/MDK-ARM/JLinkLog.txt
**/MDK-ARM/JLinkSettings.ini
**/MDK-ARM/DebugConfig/
**/MDK-ARM/GIM4310（V0.0）/

*.bak
*.orig
*.tmp
~$*
.DS_Store
Thumbs.db

**/.git_bak_nested/
